<div class="card text-center" style="width: 25rem;">
  <img class="dogPhoto" src="{{photo_url}}">
  <div class="card-body">
    <h5 class="card-title">{{Reference.name}}</h5>
    <p class="card-text">
      <a href="{{Reference.petfinder_url}}" target="_blank">Click here for more information.</a>
    </p>
  </div>
</div>
