<figure class="lgphoto"></figure>

<main class="content">
    <section class="full-access">
        <img class="float-left dogPhoto" />
        <h2>How to get Full Access to TinDog</h2>
        <p>
            To get full access to the wonderful world of TinDog, make sure you log in or sign up using the Login link in the upper right hand portion of the homepage!
        </p>
    </section>
    <section id="tindog-mission" class="tindog-mission">
        <img class="float-right dogPhotoTwo" />
        <h2>TinDog's Mission</h2>
        <p>
            Our mission is to help people at home meet thousands of sociable, friendly, and interested dogs in your area! TinDog helps you select the perfect dog for you based on breed, personality, and of course, looks.            </p>
    </section>
</main>

<aside class="benefits">
    <section class="benefit1">
        <h3>Why TinDog?</h3>
        <p>
            Do you ever feel like a plastic bag, drifting through the wind, wanting to start again? Well here is your starting point! Browse through hundreds of dogs and find the perfect match for you!
        </p>
    </section>
    <section class="benefit2">
        <h3>How to Find the Perfect Dog:</h3>
        <p>
            To find the perfect dog all you have to do is log in or sign up for our webpage, then browse our matches page where you can decline or accept dogs as you move through the photos! If you click accept on a dog, it will be added to your favorites so you can view them at any time.
        </p>
    </section>
    <section class="benefit3">
        <h3>Petfinder Usages:</h3>
        <p>
            Petfinder will help you track down the kinds of dogs you've decided that you like! You can search by area, breed, or whatever else to make the process easy for you.
        </p>
    </section>
</aside>

<script>
function dogImage() {
  fetch("https://dog.ceo/api/breeds/image/random/2")
    .then(response => response.json())
    .then(data => {
      console.log(data);
      let imgEl1 = document.querySelector(".dogPhoto");
      let imgEl2 = document.querySelector(".dogPhotoTwo");

      imgEl1.src = data.message[0];
      imgEl2.src = data.message[1];
      
      // Perform any additional operations with the image sources here
      // ...
    })
    .catch(error => console.error(error));
}

dogImage();
</script>