<figure class="lgphoto"></figure>

<main class="content">
    <section class="full-access">
        <img src="" alt="dog photo" class="float-left" />
        <h2>How to get Full Access to TinDog</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit similique, iste consectetur veniam maiores, accusantium dolore non consequuntur nam, corrupti tempora ullam voluptatum. Quam nostrum maiores quae fugit at necessitatibus!
        </p>
    </section>
    <section id="tindog-mission" class="tindog-mission">
        <img src="" alt="dog photo" class="float-right" />
        <h2>TinDog's Mission</h2>
        <p>
            Meet thousands of sociable, friendly, and interested dogs in your area! TinDog helps you select the perfect dog for you based on breed, personality, and of course, looks.            </p>
    </section>
</main>

<aside class="benefits">
    <section class="benefit1">
        <h3>Why TinDog?</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus aperiam rem quibusdam iste deleniti cupiditate soluta impedit, animi perferendis deserunt necessitatibus tempora quod repellendus placeat laudantium blanditiis dolor a? Iusto?
        </p>
    </section>
    <section class="benefit2">
        <h3>How to Find the Perfect Dog:</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis magnam quam blanditiis hic, nulla deleniti recusandae qui aliquam deserunt pariatur, molestias consequuntur commodi iste aut perferendis mollitia ducimus! Illum, quaerat.
        </p>
    </section>
    <section class="benefit3">
        <h3>Petfinder Usages:</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis minus dolor facilis laudantium, voluptatem libero? Quaerat sapiente impedit doloremque, eos vitae tenetur laudantium quo sit dignissimos perferendis numquam enim incidunt?
        </p>
    </section>
</aside>