<div class="container">
	<h1>Your Favorites listed here!</h1>
</div>

<div id="draggable" class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card text-center" style="width: 25rem;">
    <img class="dogPhoto">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>

<script src="/js/user.js"></script>


<script>
function dogImage() {
  fetch("https://dog.ceo/api/breeds/image/random")
    .then(response => response.json())
    .then(data => {
      console.log(data);
      let imgEl = document.querySelector(".dogPhoto");
      imgEl.src = data.message;
    })
    .catch(error => console.error(error));
}

dogImage();
</script>