<div class="container">
	<h1>Your Favorites listed here!</h1>
</div>

<div id="draggable" class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  {{#each favorites as |favorite|}}
  {{> favorite_card}}
  {{/each}}
</div>
